.head_top {
    background: #ccc;
    overflow: hidden;
    clear: both;
}

.logo_left {
    float: left;
    width: 50%;
}

.logo_left a span {
    color: #222;
    font-weight: bold;
    font-size: 20px;
}

.head_right {
    float: right;
    width: 50%;
}

.head_right .radius {
    border-radius: 25px;
    padding: 8px 12px;
    display: inline-block;
}

.bar {
    background: #222;
}